In [1]:
import numpy as np
import pandas as pd
import os
from sklearn.linear_model import LogisticRegression
from scipy.special import expit, logit
from sklearn.metrics import roc_auc_score

In [2]:
sub1=pd.read_csv('sub_stack_LgbmAndLgb.csv') #0.804

In [3]:
sub1.columns=['SK_ID_CURR', 'TARGET1']

In [4]:
sub1['log1']=sub1['TARGET1'].apply(lambda x: np.log(x))

In [5]:
sub2=pd.read_csv('submission_0.803.csv') #0.803

In [6]:
sub2.columns=['SK_ID_CURR', 'TARGET2']

In [7]:
sub2['log2']=sub2['TARGET2'].apply(lambda x: np.log(x))

In [8]:
sub3=pd.read_csv('sub_stack.csv') #0.804

In [9]:
sub3.columns=['SK_ID_CURR', 'TARGET3']

In [10]:
sub3['log3']=sub3['TARGET3'].apply(lambda x: np.log(x))

In [11]:
sub4=pd.read_csv('sub_stack_logit.csv') #0.804

In [12]:
sub4.columns=['SK_ID_CURR', 'TARGET4']

In [13]:
sub4['log4']=sub4['TARGET4'].apply(lambda x: np.log(x))

In [14]:
sub5=pd.read_csv('lightGBM_test_predictions_rank_mean.csv') #0.804

In [15]:
sub5.columns=['SK_ID_CURR', 'TARGET5']

In [16]:
sub5['log5']=sub5['TARGET5'].apply(lambda x: np.log(x))

In [17]:
sub6=pd.read_csv('sub_stack_LgbmAndXgb.csv') #0.801

In [18]:
sub6.columns=['SK_ID_CURR', 'TARGET6']

In [19]:
sub6['log6']=sub6['TARGET6'].apply(lambda x: np.log(x))

In [20]:
sub7=pd.read_csv('lightGBM_test_predictions_rank_mean_10.csv') #0.804

In [21]:
sub7.columns=['SK_ID_CURR', 'TARGET7']

In [22]:
sub7['log7']=sub7['TARGET7'].apply(lambda x: np.log(x))

In [23]:
sub8=pd.read_csv('submission_fold_0.csv') #0.804

In [24]:
sub8.columns=['SK_ID_CURR', 'TARGET8']

In [25]:
sub8['log8']=sub8['TARGET8'].apply(lambda x: np.log(x))

In [26]:
dfs = [sub1, sub2, sub3, sub4, sub5, sub6, sub7, sub8]

In [158]:
dfs = [sub1,sub2, sub3, sub4, sub5,sub6]

In [27]:
df_final = reduce(lambda left,right: pd.merge(left,right,on='SK_ID_CURR'), dfs)

In [28]:
df_final.head()

,SK_ID_CURR,TARGET1,log1,TARGET2,log2,TARGET3,log3,TARGET4,log4,TARGET5,log5,TARGET6,log6,TARGET7,log7,TARGET8,log8
0,100001,0.045207,-3.096499,0.046421,-3.070006,0.045751,-3.084550,0.037315,-3.288372,0.446068,-0.807283,0.045774,-3.084043,0.423826,-0.858432,0.040892,-3.196812
1,100005,0.096586,-2.337326,0.113959,-2.171917,0.097115,-2.331857,0.140106,-1.965356,0.848998,-0.163699,0.116295,-2.151626,0.845328,-0.168031,0.119489,-2.124534
2,100013,0.045886,-3.081586,0.036334,-3.315007,0.044444,-3.113536,0.033311,-3.401860,0.400562,-0.914886,0.044647,-3.108957,0.419112,-0.869618,0.037586,-3.281136
3,100028,0.048321,-3.029882,0.046933,-3.059036,0.048145,-3.033538,0.044201,-3.118997,0.509004,-0.675299,0.047810,-3.040526,0.509478,-0.674369,0.047310,-3.051038
4,100038,0.110108,-2.206296,0.159083,-1.838326,0.113180,-2.178778,0.162697,-1.815866,0.880981,-0.126720,0.118209,-2.135301,0.874424,-0.134190,0.151254,-1.888795

In [29]:
df_final[['log1', 'log2','log3', 'log4', 'log5', 'log6', 'log7', 'log8']].corr()

,log1,log2,log3,log4,log5,log6,log7,log8
log1,1.000000,0.874179,0.996381,0.881381,0.614224,0.996074,0.611712,0.876074
log2,0.874179,1.000000,0.874022,0.992336,0.887188,0.873504,0.884321,0.991120
log3,0.996381,0.874022,1.000000,0.881351,0.612298,0.994602,0.609594,0.875507
log4,0.881381,0.992336,0.881351,1.000000,0.892624,0.880833,0.889935,0.994086
log5,0.614224,0.887188,0.612298,0.892624,1.000000,0.614786,0.998331,0.888421
log6,0.996074,0.873504,0.994602,0.880833,0.614786,1.000000,0.612301,0.875506
log7,0.611712,0.884321,0.609594,0.889935,0.998331,0.612301,1.000000,0.887775
log8,0.876074,0.991120,0.875507,0.994086,0.888421,0.875506,0.887775,1.000000

In [161]:
df_final[['log1','log2','log3', 'log4', 'log5','log6']].corr()

          log1      log2      log3      log4      log5      log6
log1  1.000000  0.874179  0.996381  0.881381  0.614224  0.996074
log2  0.874179  1.000000  0.874022  0.992336  0.887188  0.873504
log3  0.996381  0.874022  1.000000  0.881351  0.612298  0.994602
log4  0.881381  0.992336  0.881351  1.000000  0.892624  0.880833
log5  0.614224  0.887188  0.612298  0.892624  1.000000  0.614786
log6  0.996074  0.873504  0.994602  0.880833  0.614786  1.000000

In [62]:
df_final[['TARGET1', 'TARGET2','TARGET3', 'TARGET4', 'TARGET5', 'TARGET6', 'TARGET7']].corr()

          TARGET1   TARGET2   TARGET3   TARGET4   TARGET5   TARGET6   TARGET7
TARGET1  1.000000  0.968300  0.915357  0.977290  0.787957  0.983565  0.984009
TARGET2  0.968300  1.000000  0.933657  0.990504  0.787431  0.975778  0.976400
TARGET3  0.915357  0.933657  1.000000  0.942577  0.581469  0.924593  0.925282
TARGET4  0.977290  0.990504  0.942577  1.000000  0.793888  0.984382  0.984999
TARGET5  0.787957  0.787431  0.581469  0.793888  1.000000  0.789000  0.789290
TARGET6  0.983565  0.975778  0.924593  0.984382  0.789000  1.000000  0.994675
TARGET7  0.984009  0.976400  0.925282  0.984999  0.789290  0.994675  1.000000

In [162]:
df_final[[ 'TARGET1','TARGET2','TARGET3','TARGET4','TARGET5','TARGET6']].corr()

          TARGET1   TARGET2   TARGET3   TARGET4   TARGET5   TARGET6
TARGET1  1.000000  0.933085  0.994426  0.941307  0.585383  0.993083
TARGET2  0.933085  1.000000  0.933657  0.990504  0.787431  0.930631
TARGET3  0.994426  0.933657  1.000000  0.942577  0.581469  0.991576
TARGET4  0.941307  0.990504  0.942577  1.000000  0.793888  0.939154
TARGET5  0.585383  0.787431  0.581469  0.793888  1.000000  0.585607
TARGET6  0.993083  0.930631  0.991576  0.939154  0.585607  1.000000

In [63]:
# AVERAGE MEAN

In [163]:
sub_avgen = pd.DataFrame()

In [164]:
sub_avgen['SK_ID_CURR'] = sub1['SK_ID_CURR']

In [78]:
sub_avgen['TARGET']=np.exp((df_final['log1']+df_final['log2']+df_final['log3']+df_final['log4']+
                          df_final['log5']+df_final['log6']+df_final['log7'])/7.0)

In [165]:
sub_avgen['TARGET']=np.exp((df_final['log1']+ df_final['log2']+df_final['log3']+df_final['log4']+
                          df_final['log5']+df_final['log6'])/6.0)

In [166]:
sub_avgen.to_csv('sub_avgen.csv',index=False) #0.804

In [167]:
sub_avgen2 = pd.DataFrame()

In [168]:
sub_avgen2['SK_ID_CURR'] = sub1['SK_ID_CURR']

In [169]:
sub_avgen2['TARGET']=(df_final['TARGET1']+df_final['TARGET2']+df_final['TARGET3']+df_final['TARGET4']+
                          df_final['TARGET5']+df_final['TARGET6'])/6.0

In [170]:
sub_avgen2.to_csv('sub_avgen2.csv',index=False) #0.804

In [ ]:
#weighted

In [171]:
sub_weien = pd.DataFrame()

In [172]:
sub_weien['SK_ID_CURR'] = sub1['SK_ID_CURR']

In [33]:
0.798+0.803+0.804*3+0.801*2

5.615

In [173]:
0.804*4+0.803+0.802

4.821

In [174]:
sub_weien['TARGET']=np.exp(0.804/4.821*df_final['log3']+0.803/4.821*df_final['log2']+0.804/4.821*df_final['log4']
                           +0.804/4.821*df_final['log1']+0.804/4.821*df_final['log5']+0.802/4.821*df_final['log6'])

In [175]:
sub_weien.to_csv('sub_weien.csv',index=False) #0.804

In [176]:
sub_weien2 = pd.DataFrame()

In [177]:
sub_weien2['SK_ID_CURR'] = sub1['SK_ID_CURR']

In [153]:
sub_weien2['TARGET']=0.804/4.019*df_final['TARGET1']+0.903/4.019*df_final['TARGET2']+0.704/4.019*df_final['TARGET3']+0.704/4.019*df_final['TARGET4']+0.903/4.019*df_final['TARGET5']

In [154]:
sub_weien2.to_csv('sub_weien2.csv',index=False)