In [1]:
import pandas as pd

In [2]:
train=pd.read_csv('lightGBM_out_of_fold_train_predictions.csv')

In [3]:
train.shape

(307511, 3)

In [4]:
train.head()

   SK_ID_CURR  fold_id  lightGBM_prediction
0      100002        0             0.304156
1      100009        0             0.005594
2      100011        0             0.049608
3      100014        0             0.045775
4      100017        0             0.018538

In [5]:
test=pd.read_csv('lightGBM_out_of_fold_test_predictions.csv')

In [6]:
test.shape

(243720, 3)

In [7]:
test.head()

   SK_ID_CURR  fold_id  lightGBM_prediction
0      100001        0             0.046421
1      100005        0             0.113959
2      100013        0             0.036334
3      100028        0             0.046933
4      100038        0             0.159083

In [8]:
set(train['fold_id'])

{0, 1, 2, 3, 4}

In [9]:
prediction=pd.read_csv('lightGBM_test_predictions_rank_mean.csv')

In [10]:
prediction.shape

(48744, 2)

In [11]:
from sklearn.linear_model import LogisticRegression
from scipy.special import expit, logit
from sklearn.metrics import roc_auc_score

In [13]:
train_org=pd.read_csv('/DATACENTER2/scy/Home_Credit/raw_data/application_train.csv')

In [14]:
train_org=train_org[['SK_ID_CURR', 'TARGET']]

In [15]:
train_org.head()

   SK_ID_CURR  TARGET
0      100002       1
1      100003       0
2      100004       0
3      100006       0
4      100007       0

In [16]:
train=train.merge(train_org, on='SK_ID_CURR', how='left')

In [17]:
train.head()

   SK_ID_CURR  fold_id  lightGBM_prediction  TARGET
0      100002        0             0.304156       1
1      100009        0             0.005594       0
2      100011        0             0.049608       0
3      100014        0             0.045775       0
4      100017        0             0.018538       0

In [18]:
train.isnull().sum()

SK_ID_CURR             0
fold_id                0
lightGBM_prediction    0
TARGET                 0
dtype: int64

In [19]:
X_train=train[['lightGBM_prediction']]
y_train=train['TARGET']

In [20]:
X_train.shape

(307511, 1)

In [21]:
y_train.shape

(307511,)

In [22]:
stack_model = LogisticRegression()
stack_model.fit(X_train, y_train)
stack_model.coef_

array([[7.93783291]])

In [23]:
test0=test[test['fold_id']==0][['lightGBM_prediction']]
test1=test[test['fold_id']==1][['lightGBM_prediction']]
test2=test[test['fold_id']==2][['lightGBM_prediction']]
test3=test[test['fold_id']==3][['lightGBM_prediction']]
test4=test[test['fold_id']==4][['lightGBM_prediction']]

In [24]:
pred0=stack_model.predict_proba(test0)[:,1]
pred1=stack_model.predict_proba(test1)[:,1]
pred2=stack_model.predict_proba(test2)[:,1]
pred3=stack_model.predict_proba(test3)[:,1]
pred4=stack_model.predict_proba(test4)[:,1]

In [25]:
sub = pd.DataFrame()
sub['SK_ID_CURR'] = test[test['fold_id']==0]['SK_ID_CURR']

In [26]:
sub['pred0']=pred0
sub['pred1']=pred1
sub['pred2']=pred2
sub['pred3']=pred3
sub['pred4']=pred4

In [34]:
sub['TARGET']=(sub['pred0']+sub['pred1']+sub['pred2']+sub['pred3']+sub['pred4'])/5

In [36]:
import numpy as np
np.min(sub['TARGET'])

0.034995608391432995

In [37]:
np.max(sub['TARGET'])

0.94301124000203251

In [38]:
sub[['SK_ID_CURR', 'TARGET']].to_csv('sub_stack.csv', index= False)

In [ ]:
################################################################
############################   XGBOOST  ####################################
################################################################

In [3]:
train=pd.read_csv('out_folder_train_prediction_xgb.csv')

In [4]:
train

        train_pred  SK_ID_CURR  TARGET  folder
0         0.035678      100004     0.0       1
1         0.042576      100006     0.0       1
2         0.057968      100008     0.0       1
3         0.055486      100011     0.0       1
4         0.006375      100018     0.0       1
5         0.027167      100023     0.0       1
6         0.082319      100053     0.0       1
7         0.028539      100054     0.0       1
8         0.016324      100060     0.0       1
9         0.019718      100062     0.0       1
10        0.053957      100073     0.0       1
11        0.038958      100094     0.0       1
12        0.015002      100101     0.0       1
13        0.034276      100102     0.0       1
14        0.045211      100103     0.0       1
15        0.141014      100115     0.0       1
16        0.112830      100121     0.0       1
17        0.029470      100127     0.0       1
18        0.189561      100130     1.0       1
19        0.004279      100143     0.0       1
20        0.041696      100144     0.0       1
21        0.050294      100148     0.0       1
22        0.171840      100160     1.0       1
23        0.065190      100161     0.0       1
24        0.023034      100165     0.0       1
25        0.094097      100177     0.0       1
26        0.010388      100178     0.0       1
27        0.045575      100179     0.0       1
28        0.017872      100185     0.0       1
29        0.023908      100188     0.0       1
...            ...         ...     ...     ...
307481    0.019325      456079     0.0       5
307482    0.127623      456080     0.0       5
307483    0.126603      456082     0.0       5
307484    0.207293      456088     1.0       5
307485    0.028453      456091     0.0       5
307486    0.063975      456093     0.0       5
307487    0.018669      456096     0.0       5
307488    0.167027      456104     0.0       5
307489    0.082230      456105     0.0       5
307490    0.047462      456107     0.0       5
307491    0.022216      456109     0.0       5
307492    0.071663      456113     0.0       5
307493    0.012194      456132     0.0       5
307494    0.078415      456134     0.0       5
307495    0.078962      456135     0.0       5
307496    0.451201      456143     1.0       5
307497    0.050553      456147     0.0       5
307498    0.044433      456148     0.0       5
307499    0.157888      456149     0.0       5
307500    0.027534      456157     0.0       5
307501    0.044588      456163     0.0       5
307502    0.040710      456174     0.0       5
307503    0.014445      456175     0.0       5
307504    0.015659      456179     0.0       5
307505    0.019193      456196     0.0       5
307506    0.026456      456201     0.0       5
307507    0.014762      456206     0.0       5
307508    0.070521      456225     1.0       5
307509    0.036224      456241     0.0       5
307510    0.041064      456253     0.0       5

[307511 rows x 4 columns]

In [5]:
test=pd.read_csv('out_folder_test_prediction_xgb.csv')

In [6]:
test.shape

(243720, 3)

In [7]:
test.head()

   SK_ID_CURR  test_pred  folder
0      100001   0.029790       1
1      100005   0.237822       1
2      100013   0.027966       1
3      100028   0.035709       1
4      100038   0.181272       1

In [9]:
set(train['folder'])

{1, 2, 3, 4, 5}

In [10]:
from sklearn.linear_model import LogisticRegression
from scipy.special import expit, logit
from sklearn.metrics import roc_auc_score

In [12]:
train_org=pd.read_csv('/DATACENTER2/scy/Home_Credit/raw_data/application_train.csv')

In [13]:
train_org=train_org[['SK_ID_CURR', 'TARGET']]

In [14]:
train_org.head()

   SK_ID_CURR  TARGET
0      100002       1
1      100003       0
2      100004       0
3      100006       0
4      100007       0

In [15]:
train=train.merge(train_org, on='SK_ID_CURR', how='left')

In [18]:
train

        train_pred  SK_ID_CURR  TARGET_x  folder  TARGET_y
0         0.035678      100004       0.0       1         0
1         0.042576      100006       0.0       1         0
2         0.057968      100008       0.0       1         0
3         0.055486      100011       0.0       1         0
4         0.006375      100018       0.0       1         0
5         0.027167      100023       0.0       1         0
6         0.082319      100053       0.0       1         0
7         0.028539      100054       0.0       1         0
8         0.016324      100060       0.0       1         0
9         0.019718      100062       0.0       1         0
10        0.053957      100073       0.0       1         0
11        0.038958      100094       0.0       1         0
12        0.015002      100101       0.0       1         0
13        0.034276      100102       0.0       1         0
14        0.045211      100103       0.0       1         0
15        0.141014      100115       0.0       1         0
16        0.112830      100121       0.0       1         0
17        0.029470      100127       0.0       1         0
18        0.189561      100130       1.0       1         1
19        0.004279      100143       0.0       1         0
20        0.041696      100144       0.0       1         0
21        0.050294      100148       0.0       1         0
22        0.171840      100160       1.0       1         1
23        0.065190      100161       0.0       1         0
24        0.023034      100165       0.0       1         0
25        0.094097      100177       0.0       1         0
26        0.010388      100178       0.0       1         0
27        0.045575      100179       0.0       1         0
28        0.017872      100185       0.0       1         0
29        0.023908      100188       0.0       1         0
...            ...         ...       ...     ...       ...
307481    0.019325      456079       0.0       5         0
307482    0.127623      456080       0.0       5         0
307483    0.126603      456082       0.0       5         0
307484    0.207293      456088       1.0       5         1
307485    0.028453      456091       0.0       5         0
307486    0.063975      456093       0.0       5         0
307487    0.018669      456096       0.0       5         0
307488    0.167027      456104       0.0       5         0
307489    0.082230      456105       0.0       5         0
307490    0.047462      456107       0.0       5         0
307491    0.022216      456109       0.0       5         0
307492    0.071663      456113       0.0       5         0
307493    0.012194      456132       0.0       5         0
307494    0.078415      456134       0.0       5         0
307495    0.078962      456135       0.0       5         0
307496    0.451201      456143       1.0       5         1
307497    0.050553      456147       0.0       5         0
307498    0.044433      456148       0.0       5         0
307499    0.157888      456149       0.0       5         0
307500    0.027534      456157       0.0       5         0
307501    0.044588      456163       0.0       5         0
307502    0.040710      456174       0.0       5         0
307503    0.014445      456175       0.0       5         0
307504    0.015659      456179       0.0       5         0
307505    0.019193      456196       0.0       5         0
307506    0.026456      456201       0.0       5         0
307507    0.014762      456206       0.0       5         0
307508    0.070521      456225       1.0       5         1
307509    0.036224      456241       0.0       5         0
307510    0.041064      456253       0.0       5         0

[307511 rows x 5 columns]

In [17]:
train.isnull().sum()

train_pred    0
SK_ID_CURR    0
TARGET_x      0
folder        0
TARGET_y      0
dtype: int64

In [19]:
X_train=train[['train_pred']]
y_train=train['TARGET_x']

In [20]:
X_train.shape

(307511, 1)

In [21]:
y_train.shape

(307511,)

In [22]:
stack_model = LogisticRegression()
stack_model.fit(X_train, y_train)
stack_model.coef_

array([[ 8.05201165]])

In [26]:
test1=test[test['folder']==1][['test_pred']]
test2=test[test['folder']==2][['test_pred']]
test3=test[test['folder']==3][['test_pred']]
test4=test[test['folder']==4][['test_pred']]
test5=test[test['folder']==5][['test_pred']]

In [27]:
pred1=stack_model.predict_proba(test1)[:,1]
pred2=stack_model.predict_proba(test2)[:,1]
pred3=stack_model.predict_proba(test3)[:,1]
pred4=stack_model.predict_proba(test4)[:,1]
pred5=stack_model.predict_proba(test5)[:,1]

In [28]:
sub = pd.DataFrame()
sub['SK_ID_CURR'] = test[test['folder']==1]['SK_ID_CURR']

In [29]:
sub['pred1']=pred1
sub['pred2']=pred2
sub['pred3']=pred3
sub['pred4']=pred4
sub['pred5']=pred5

In [30]:
sub['TARGET']=(sub['pred1']+sub['pred2']+sub['pred3']+sub['pred4']+sub['pred5'])/5

In [31]:
import numpy as np
np.min(sub['TARGET'])

0.035115606352529728

In [32]:
np.max(sub['TARGET'])

0.95344132513688362

In [33]:
sub[['SK_ID_CURR', 'TARGET']].to_csv('sub_stack_xgb.csv', index= False)